header {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.smallText {
  color: var(--main-color);
  font-size: 12px;
}

.form {
  border-radius: 10px;
  background-color: var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.form-control {
  display: flex !important;
  flex-direction: column;
  width: 45% !important;
  height: 100px;
  margin: 10px;
  overflow: scroll;
}

.form-control label {
  color: var(--main-color);
  font-weight: bold;
  margin-bottom: 10px
}

input {
  height: 60px;
  max-width: 100%;
}

select {
  height: 60px;
  background-color: white;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 3px;
}

.description-section {
  height: 200px;
}

.description-section textarea {
  height: 200px;
  resize: none;
}

.profiles {
  margin: 20px 0;
}

.profiles .icon {
  background-color: rgba(128, 128, 128, 0.377);
  height: 40px;
  width: 40px;
  padding: 10px;
}

.profile-img {
  margin-right: 5px;
  height: 60px;
  border-radius: 50%;
  width: 60px;
  object-fit: cover;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

button {
  color: var(--main-color);
  height: 50px;
  margin-left: 40px;
  border: unset;
  background-color: unset;
  font-weight: bold;
}

#cancel {
  border-radius: 10px;
  padding: 10px 20px;
}

#cancel:hover {
  color: white;
  background-color: #2c94cc8e;
}

#createTask {
  margin-left: 20px;
  border-radius: 10px;
  background-color: var(--main-color);
  color: white;
  padding: 10px 20px;
}

#createTask:hover {
  background-color: #2c94cc8e;
}

@media only screen and (max-width: 992px) {
  #createTask {
    padding: 0px 20px;
  }
}

@media only screen and (max-width: 769px) {
  .form {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .form-control {
    margin-left: 30px;
    width: 90% !important;
    overflow-y: scroll;
  }
}