/* .main-body>div {
  height: auto;
} */

header {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.smallText {
  color: var(--main-color);
  font-size: 12px;
}

.form {
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: auto !important;
}

.form-control {
  background-color: var(--secondary-color) !important;
  display: flex !important;
  flex-direction: column;
  width: 45% !important;
  height: 100px;
  margin: 10px;
  position: relative;
  height: 125px;
}

.form-control label {
  color: var(--main-color);
  font-weight: bold;
  margin-bottom: 10px
}

.form-control.success input,
.form-control.success textarea,
.form-control.success select {
  border-color: #2ecc71;
}

.form-control.error input,
.form-control.error textarea,
.form-control.error select {
  border-color: #e74c3c;
}

.form-control small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 15px;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

input {
  height: 60px;
  max-width: 100%;
}

input,
textarea,
select {
  font-size: 14px;
  border: 2px solid var(--secondary-color);
}

input:focus,
textarea:focus {
  outline: 0;
  border-color: #777;
}

select {
  height: 60px;
  background-color: white;
  cursor: pointer;
  border-radius: 3px;
  background-image: url(/img/chevron\ .png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 98%;
  appearance: none;
}

input,
select:not(textarea) {
  text-align: center;
}

select option {
  height: 100px;
}

.category {
  position: relative;
}

.description-section {
  height: 200px;
}

.description-section textarea {
  height: 145px;
  resize: none;
  padding: 10px;
}

.profiles {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.profiles .icon {
  background-color: rgba(128, 128, 128, 0.377);
  height: 40px;
  width: 40px;
  padding: 10px;
}

.profiles .icon:hover {
  background-color: rgba(182, 181, 181, 0.377);
}

.profile-img {
  margin-right: 5px;
  height: 60px;
  border-radius: 50%;
  width: 60px;
  object-fit: cover;
  cursor: pointer;
}

.profiles select {
  text-align: left;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

button {
  color: var(--main-color);
  height: 50px;
  margin-left: 40px;
  border: unset;
  background-color: unset;
  font-weight: bold;
}

#cancel {
  border-radius: 10px;
  padding: 10px 20px;
}

#cancel:hover {
  color: white;
  background-color: #2c94cc8e;
}

#createTask {
  margin-left: 20px;
  border-radius: 10px;
  background-color: var(--main-color);
  color: white;
  padding: 10px 20px;
}

#createTask:hover {
  background-color: #2c94cc8e;
}

.d-none {
  display: none;
}

@media only screen and (max-width: 992px) {
  #createTask {
    padding: 0px 20px;
  }
}

@media only screen and (max-width: 769px) {
  .form {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .form-control {
    width: 90% !important;
  }

  input,
  textarea,
  select {
    text-align: center;
  }

  .profiles {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 408px) {
  .profiles {
    flex-direction: column;
  }

  .profile-img {
    margin-bottom: 20px;
  }

  .form-control {
    height: auto;
  }

  .buttons {
    justify-content: center;
  }
}