header {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.smallText {
  color: var(--main-color);
  font-size: 12px;
}

.form {
  border-radius: 10px;
  background-color: rgba(211, 211, 211, 0.473);
  width: 100%;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
}

.form-control {
  display: flex !important;
  flex-direction: column;
  max-width: 400px;
  height: 100px;
  margin: 10px;
}

.form-control label {
  color: var(--main-color);
  font-weight: bold;
}

input {
  height: 60px;
  max-width: 300px;
}

.profiles .icon {
  background-color: rgba(128, 128, 128, 0.377);
  height: 40px;
  width: 40px;
  padding: 10px;
}

.profile-img {
  margin-right: 5px;
  height: 60px;
  border-radius: 50%;
  width: 60px;
  object-fit: cover;
}