#task-field{
    display:flex;
    height:auto;
}

.pencil-icon:hover{
    opacity:0.6;
}

.task-title{
    display:flex;
    justify-content:center;
    
}

.task-category{
    display:flex;
    justify-content:center;
    
}

.task-description{
    display:flex;
    justify-content:center;
    
}
