#task-field{
    display:flex;
    height:auto;
}

.card-design{
    margin-bottom:2vh;
    padding-top:1vh;
    background-color: var(--secondary-color);
}

.card-design-left{
    border-top-left-radius:12px;
    border-bottom-left-radius:12px;
    margin-bottom:2vh;
    padding-top:1vh;
    background-color: var(--secondary-color);
}

.card-design-right{
    border-top-right-radius:12px;
    border-bottom-right-radius:12px;
    margin-bottom:2vh;
    padding-top:1vh;
    background-color: var(--secondary-color);
}

.color_Frontend{
    border-left:15px solid yellow;
}

.color_Marketing{
    border-left:15px solid blue;
}

.color_Sales{
    border-left:15px solid green;
}

.color_Design{
    border-left:15px solid pink;
}

.color_Backend{
    border-left:15px solid red;
}

.pencil-design{
    margin-bottom:2vh;
    margin-left:1vw;
    display:flex;
    align-items:center;
}

.pencil-icon:hover{
    opacity:0.6;
}

.task-title{
    display:flex;
    justify-content:center;
    
}

.task-category{
    display:flex;
    justify-content:center;
    
}

.task-description{
    display:flex;
    justify-content:center;
    
}

#description-input{
    height:100px;
    border: 1px solid var(--secondary-color);
}

#popup-select{
    border: 1px solid var(--secondary-color);
}

#popup-category{
    border: 1px solid var(--secondary-color);
}
