.board__section {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.board__section h2 {
    flex: 0;
    font-size: 16px;
    text-align: center;
}

.board__area {
    flex: 1;
    background-color: var(--secondary-color);
    height: 100%;
}

.board__space {
    display: none;
}

.board__area {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    border-radius: 3px;
    transition: all 0.15s ease-in-out;
    overflow: auto;
}

.drag__area__highlight {
    background-color: var(--accent-color);
}

.board__button {
    background-color: var(--main-color);
    border: none;
    width: 100%;
    height: auto;
    color: var(--secondary-color);
    padding: 8px;
    border-radius: 3px;
    cursor: pointer;
}

.drag__area__highlight {
    background-color: var(--accent-color);
}

@media only screen and (max-width: 992px) {
    .board__row {
        height: calc(50% - 10px);
    }

    .board__space {
        display: block;
        height: 15px;
    }
  }