.board__section {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.board__section h2 {
    flex: 0;
    font-size: 16px;
    text-align: center;
}

.board__area {
    flex: 1;
    background-color: var(--secondary-color);
    height: 100%;
}