/*
main color
*/

:root {
    --main-color: #003a5a;
}

/*
index.html
*/

body {
    background-color: #f9f9f8 !important;
}

.container {
    margin-top: 50px;
}

.appcard {
    max-width: 100%;
    display: flex;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 200px;
    background-color: var(--main-color);
    padding-top: 16px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

aside img {
    margin: 25px 0;
}

aside h3 {
    color: #d8d8d8;
    cursor: pointer;
}

main {
    height: calc(100vh - 100px);
    flex: 1;
    background-color: #fff;
    padding: 16px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

main h2 {
    line-height: 1;
}

@media only screen and (max-width: 510px) {
    .container {
        margin-top: 0;
        padding: 0 !important;
    }

    .appcard {
        flex-direction: column;
        height: 100vh;
    }

    aside {
        width: 100%;
        padding-bottom: 24px;
        border-radius: 0px;
    }

    main {
        border-radius: 0px;
        flex: 1;
    }
}
