/*
main color
*/

:root {
    --main-color: #003a5a;
    --main-accent-color: #006093;
    --secondary-color: #f1f1f1;
    --accent-color: #e6e6e6;
}

/*
no blue highliting on mobile touch devices
*/

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noSelect:focus {
    outline: none !important;
}

/*
index.html
*/

body {
    background-color: #f9f9f8 !important;
}

.container {
    margin-top: 50px;
}

.appcard {
    max-width: 100%;
    display: flex;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    background-color: var(--main-color);
    padding: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: var(--secondary-color);
}

.aside__logo {
    font-size: 80px !important;
    cursor: default;
    margin-bottom: 25px;
    cursor: pointer;
}

.aside__menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.aside__menu h3 {
    cursor: pointer;
    border-left: 5px solid var(--main-color);
    padding-left: 16px;
}

main {
    height: calc(100vh - 100px);
    flex: 1;
    background-color: #fff;
    padding: 16px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main-body {
    height: 100%;
}

.main-body > div {
    height: 100%;
}

.mainbody__container {
    height: 100%;
}

.mainbody__container * {
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .container {
        margin-top: 0;
        padding: 0 !important;
        max-width: 100% !important;
    }

    .appcard {
        flex-direction: column;
        height: 100vh;
    }

    aside {
        width: 100%;
        padding-bottom: 24px;
        border-radius: 0px;
    }

    main {
        border-radius: 0px;
        flex: 1;
    }
}
