/*
main color
*/

:root {
    --main-color: #003a5a;
    --main-accent-color: #006093;
    --secondary-color: #ececec;
    --accent-color: #dddddd;
}

/*
no blue highliting on mobile touch devices
*/

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noSelect:focus {
    outline: none !important;
}

/*
index.html
*/

body {
    --header-height: 70px;
    background-color: #f9f9f8 !important;
}

/*
pop-up in index.html with all associated classes and IDs
*/
.pop-up{
    z-index:777;
    height:100vh;
    background-color:rgba(0,0,0,0.9);
    position:fixed;
    top:0;
    left:0;
    right:0;
    display:flex;
    justify-content:center;
    align-items:center;
}

/*class to hide*/
.dont-show{
    display:none;
}

/*Div to display the chosen content in the Popup*/
#pop-up-content{
    height:600px;
    width:600px;
    background-color:white;
    display:flex;
    justify-content:center;
    align-items:center;
}

#closebutton{
    position:absolute;
    top:50px;
    right:50px;
}


/* prevents mobile menu from preloading */
.preload * {
    transition: none !important;
}

.container {
    margin-top: 50px;
}

.appcard {
    max-width: 100%;
    display: flex;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    background-color: var(--main-color);
    padding: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: var(--secondary-color);
}


.aside__logo {
    font-size: 80px !important;
    cursor: default;
    margin-bottom: 25px;
    cursor: pointer;
    transition: color .2s ease-in-out;
}

.aside__logo:hover {
    color: white;
}

.aside__menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.aside__menu h3 {
    cursor: pointer;
    border-left: 5px solid var(--main-color);
    padding-left: 16px;
    transition: color .2s ease-in-out;
}

.aside__menu h3:hover {
    color: white;
}

main {
    height: calc(100vh - 100px);
    flex: 1;
    background-color: #fff;
    padding: 16px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main-body {
    height: 100%;
}

.main-body > div {
    height: 100%;
}

.mainbody__container {
    height: 100%;
}

.mainbody__container * {
    height: 100%;
}

.header__button {
    display: none;
}

.nav {
    display: none !important;
}

@media only screen and (max-width: 768px) {
    .container {
        margin-top: 0;
        padding: 0 !important;
        max-width: 100% !important;
    }

    .appcard {
        flex-direction: column;
        height: 100vh;
    }

    aside {
        width: 100%;
        padding-bottom: 24px;
        border-radius: 0px;
    }

    main {
        border-radius: 0px;
        flex: 1;
    }

    /*
    mobile menu
    */

    body {
        margin: var(--header-height) 0 0 0 !important;
    }

    .aside__menu {
        display: none;
    }

    aside {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 0 16px;
        position: fixed;
        top: 0;
        left: 0;
        height: var(--header-height);
    }

    .aside__logo {
        margin: 0;
        font-size: 35px !important;
    }

    .hamburger__icon {
        padding-top: 12px;
        color: var(--secondary-color);
        font-size: 30px !important;
    }

    .header__button {
        display: inline-block;
        position: fixed;
        top: 0;
        right: 0;
        height: 60px;
        width: 60px;
        padding-top: 5px;
    }

    .nav {
        display: block !important;
    }

    .nav__links {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2;
        height: 100vh;
        width: 200px;
        background-color: #F9F9F8;
        transform: translateX(200px);
        transition: transform .2s ease-in-out;
    }

    .nav--open .nav__links {
        transform: translate(0);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }

    .nav__link {
        display: flex;
        align-items: center;
        color: var(--main-color);
        font-weight: bold;
        font-size: 18px;
        padding: 12px 15px;
        transition: background-color .15s ease-in-out;
    }

    .nav__link > span {
        margin-right: 15px;
    }

    .nav__link--active {
        color: var(--secondary-color);
        background-color: var(--main-color);
    }

    .nav__link:hover {
        background-color: var(--secondary-color);
        cursor: pointer;
    }

    .nav__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(2px);
        visibility: hidden;
        opacity: 0;
        transition: opacity .2s;
    }

    .nav--open .nav__overlay {
        visibility: visible;
        opacity: 1;
    }

}
